.abouteMe{
    position: relative;
    

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2196F3;
        height: 200px;
        transition: all 2s ease;
        
            h2 {
                font-weight: 400;
                margin-top: 15px;
                font-size: 45px;
                color: #fff;
            }

            p {
                font-weight: 400;
                margin-top: 0px;
                font-size: 25px;
                text-align: center;
                color: #fff;
            }


    }

    .content{

        img{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 170px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
        }

        .boxCv{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            margin: 25px auto;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 90px 10px 20px 10px;

            .socialMedia{

                margin: 25px 0;

                .icon{
                    font-size: 25px;
                    color: #1f5b8c;
                    margin: 0 10px 0 10px;
                    transition: all 2s ease;
                    

                   
                }
            }

            p {
                text-align: center;
                
                
            }

            .contact{

                margin: 30px 0 0 0; 

                .btn{
                    // color: rgb(255, 255, 255);
                    // width: 180px;
                    // cursor: pointer;
                    // padding: 5px 0;
                    // font-weight: 500;
                    // outline: none;
                    // border: none;
                    // background-color:#2196F3;
                    // font-size: 18px;
                    // margin: 0 20px 5px 20px;

                    padding: 5px 24px;
                    border: none;
                    background-color: #2196F3;
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 500;
                    color: #fff;
                    margin: 0 25px 5px 25px;
                    transition: all 2s ease;
      
                }
            }
        }
    }
}